<section class="contact-cylinder page-section">
    <div class="contact-wrapper">
        <div class="section-title">
            <h1 #heroTitle>
                <span>CONTACT ME</span>
            </h1>
        </div>

        <div class="contact-section-content">
            <div class="email">
                <a href="mailto:hello@faustogerman.com" class="hover-underline" rel="noopener" title="Email"
                    target="_blank">
                    <p>
                        <span class="email" #emailSpan>Hello@faustogerman.com</span>
                        <span class="button--underline-effect"></span>
                    </p>
                    <div class="arrow" #emailArrow>
                        <span #topTick></span>
                        <span #rightTick></span>
                        <span #middleTick></span>
                    </div>
                </a>
            </div>

            <div class="contact-message">
                <div class="content">
                    <p>I am currently seeking an internship in software engineering for the summer of 2020 to
                        further develop my professional skills. Please email me to the address above for any enquiries.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>