<section class="knowledge-cylinder page-section">
    <div class="knowledge-wrapper">
        <div class="section-title">
            <h1>WHAT I KNOW</h1>
        </div>

        <div class="disciplines">
            <div class="disciplines-wrapper">
                <p>For the last five years, I have had the opportunity to experiment with various web development and
                    design technologies like Photoshop, Bootstrap, jQuery, and Flask.</p>

                <p>I am currently pursuing an associate of science degree at the <a href="https://www.rccc.edu/"
                        rel="noopener" title=" Rowan-Cabarrus Community College" target="_blank">Rowan-Cabarrus
                        Community College</a>. I then plan to transfer to the <a href="https://www.uncc.edu/"
                        rel="noopener" title=" University of North Carolina at Charlotte" target="_blank">University of
                        North Carolina at Charlotte</a> to complete a bachelor's degree in Computer Science with the AI,
                    Robotics, and Gaming concentration. I also plan to complete a minor's degree in Mathematics.</p>

                <!-- <p>Speaking of gaming, <button>Let's play a game!</button></p> -->
            </div>
        </div>

        <div class="technical-skills">
            <h1>JAVASCRIPT:</h1>
            <ul>
                <li>Angular2+</li>
                <li>Typescript</li>
                <li>Canvas2D</li>
                <li>jQuery</li>
                <li>(Noob) TensorFlow.js</li>
            </ul>

            <h1>HTML-CSS:</h1>
            <ul>
                <li>SASS/SCSS</li>
                <li>SVG</li>
                <li>Bootstrap</li>
            </ul>

            <h1>GRAPHIC DESIGN:</h1>
            <ul>
                <li>Photoshop</li>
                <li>Logo Design</li>
                <li>UX/UI</li>
                <li>(Noob) Illustrator</li>
            </ul>

            <h1>COURSES:</h1>
            <ul>
                <li>Intro to Prog. & Logic</li>
                <li>Java Programming</li>
                <li>Calculus I/II</li>
                <li>Linear Algebra</li>
            </ul>

            <h1>MISC:</h1>
            <ul>
                <li>Raspberry Pi</li>
                <li>VSCode</li>
                <li>Cooking Eggs</li>
                <li>Singing in the shower</li>
            </ul>
        </div>

    </div>
</section>