@import '../../../helper.scss';

.knowledge-cylinder {
    padding-top: 7.5vh;
    margin-top: 2.5vh;
    @include fluid-value(72px, 150px, 100px, 1600px, margin-top);
    .knowledge-wrapper {

        .section-title {
            h1 {
                @include fluid-value(32px, 104px, 100px, 1400px, font-size);
                @include fluid-value(-1.6px, -3.2px, 100px, 1400px, letter-spacing);
                @media screen and (max-width: 500px) {
                    @include fluid-value(28px, 48px, 100px, 500px, font-size);
                }
                font-weight: 750;
                word-spacing: 0.5rem;
                // color: var(--color-secondary);
                color: color(black);
                opacity: 0.9;
            }
        }

        .disciplines {
            display: grid;
            grid-template-columns: 35% 50% 15%;
            // grid-template-columns: 25% 70% 5%;
            @include fluid-value(64px, 150px, 100px, 1600px, margin-top);

            @media screen and (max-width: 1500px) {
                grid-template-columns: 25% 70% 5%;
            }

            @media screen and (max-width: 900px) {
                display: block;
            }

            .disciplines-wrapper {
                grid-column: 2;
                p {
                   font-size: 18px;
                   color: color(black);
                   line-height: 164%;
                   margin-bottom: 24px;

                   a {
                       color: inherit;
                       opacity: 0.7;
                   }

                   button {
                        color: inherit;
                        opacity: 0.7;
                        background: transparent;
                        border: none;
                        text-decoration: underline;
                        font-size: inherit;
                        cursor: pointer;
                   }
                }
            }
        }

        .technical-skills {
            margin-top: 15vh;
            display: grid;
            grid-template-columns: 10% 90%;

            @media screen and (max-width: 1000px) {
                display: block;
            }

            ul {
                list-style: none;
                @include fluid-value(64px, 150px, 100px, 1600px, margin-bottom);

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            
            h1, ul {
                grid-column: 2;
                @include fluid-value(18px, 64px, 100px, 1600px, font-size);
                color: var(--color-secondary);
            }

            h1 {
                width: fit-content;
                @include fluid-value(24px, 75px, 100px, 1600px, margin-bottom);
                font-weight: 650;
                border-bottom: 10px solid color(black);
                @include fluid-value(4px, 10px, 100px, 1600px, border-width);
            }

            li {
                line-height: 132%;
                font-weight: 450;
                opacity: 0.7;
            }
        }

    }
}