<div class="game-cylinder">
    <div class="game-info">
        <h1>Rocket-Fire</h1>
        <p>Try to eliminate as many ships as possible in the smallest period time. Hold the Ctrl key to fire bullets to
            your enemies. But be mindful, you only have so many bullets!</p>
        <p>To refill your bullets, catch one of the yellow balls. The red balls are not your friends.</p>
        <p>If you run out of bullets, it's game over.</p>

        <p class="bullet-count">Remaining Bullets: {{ bulletCount }} </p>
        <p class="bullet-count">Defeated Ships: {{ defeatedShips }} </p>
    </div>
    <div class="canvasWrapper" #canvasWrapper>
        <canvas #gameCanvas></canvas>

    </div>
</div>