@import "../../../helper.scss";


div.about-cylinder {
    width: 90%;
    // max-width: 1400px;
    margin: auto;
    padding-top: 250px;


    @media screen and (max-width: 1050px) {
        padding-top: 232px;
    }

    .about-wrapper {
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 64px;
        margin: auto;

        padding-bottom: 15vh;

        @media screen and (max-width: 1050px) {
            grid-template-columns: 1fr;
            max-width: 700px;
            padding-bottom: 64px;
        }

        p {
            font-size: 18px;
            margin-bottom: 32px;
            line-height: 1.4em;

            @media screen and (max-width: 600px) {
                font-size: 16px;
            }

            a {
                // font-weight: bold;
                text-decoration: none;
                color: var(--color-toolbar);
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .left-column {
            .hero-image {
                width: 100%;
                
                img { width: 100%; }

                @media screen and (max-width: 1050px) {
                    width: 90%;
                    margin: auto;
                    transform: none !important;
                }
            }
        }

        .right-column {
            // grid-column: 2;
            padding-top: 20vh;
            @media screen and (max-width: 1050px) {
                padding-top: 0;
                h1 {
                    text-align: center;
                    margin-top: 24px;
                }
            }
            h1 {
                font-size: 54px;
                @include fluid-value(32px, 54px, 100px, 1400px, font-size);
                color: var(--color-toolbar);
                font-weight: 550;
            }

            p {
                color: #402103;
            }

            .content {
                margin-top: 96px;
                @media screen and (max-width: 1050px) {
                    margin-top: 64px;
                }
            }
        }

    }

    footer.footer-section {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        div.end-info {
            width: 100%;
            padding-bottom: 5vh;
            border-top: 1px solid #402103;
            padding-top: 5vh;
            p {
                font-size: 12px;
                margin-bottom: 12px;
                color: #402103;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}