<section class="about-cylinder page-section" #parentCylinder>
    <div class="about-wrapper">
        <div class="section-title">
            <h1>ABOUT ME</h1>
        </div>
        <div class="history">
            <div class="mindset">
                <h3>I moved to the United States at the age of fifteen with the intention of
                    getting a better education. I believe that knowledge can break barriers, so I have been taking
                    advantage of the resources to ensure I become an excellent computer scientist.</h3>
            </div>
            <div class="history-left">I was born on October 02, 2000 in San Cristobal, Dominican Republic. From an
                early age, I had a great inclination towards the world of technology, science, and everything that
                allowed me to uncover new ideas. My interest for programming started at the age of thirteen when I
                wanted to create a blog for my own. I quickly learned about HTML, CSS, and JavaScript. A couple of
                months later, I had created my first website ever.
            </div>
            <div class="history-right">
                <p>Although not a graphic designer at heart, I tend to have an eye for well-done designs and modern
                    styles, and in the recent months I have become particularly interested in the world of artificial
                    intelligence and neural networks.</p>
                <p>I plan to specialize in mobile development as well as machine learning
                    engineering so that can implement both my programming skills and my interest in quality design.</p>
            </div>
        </div>


        <!-- <div class="hero-image">
            <div class="image-wrapper" #imgWrapper>
                <picture class="picture-left">
                    <source (load)="heroImageLoaded()" type="image/jpeg"
                        srcset="./assets/images/fausto-yellow-jacket.480px.jpg">
                    <img (load)="heroImageLoaded()" src="./assets/images/fausto-yellow-jacket.960px.jpg" alt="">
                </picture>

                <picture class="picture-right">
                    <source (load)="heroImageLoaded()" type="image/jpeg"
                        srcset="./assets/images/fausto-yellow-jacket.480px.jpg">
                    <img (load)="heroImageLoaded()" src="./assets/images/fausto-yellow-jacket.960px.jpg" alt="">
                </picture>
            </div>
        </div> -->


    </div>
</section>