<div class="about-cylinder">
    <div class="about-wrapper" #wrapper>
        <div class="left-column">

            <div class="hero-image" #heroImage>
                <div class="hero-image-wrapper">
                    <img class="top-right-picture" src="./assets/images/fausto-yellow-jacket.480px.jpg"
                        srcset="./assets/images/fausto-yellow-jacket.960px.jpg 2x, ./assets/images/fausto-yellow-jacket.240px.jpg 0.5x"
                        alt="Picture of Fausto German with yellow jacket in New York."
                        (load)="heroImagesLoaded($event, 'main-image')">
                </div>
            </div>

        </div>

        <div class="right-column">
            <h1>Just a little more about me...</h1>

            <div class="content">
                <p>
                    I was born in the year 2000, in San Cristobal, Dominican Republic. From an
                    early age I have had a great inclination towards the world of technology, science, and
                    everything that allowed me to uncover new ideas. My interest for programming started at the age
                    of thirteen when I wanted to create a blog for my own. I quickly learned about HTML, CSS, and
                    JavaScript, then a couple of months later, I had created my first website ever.
                </p>

                <p>
                    Since I started programming, I became fascinated with the idea of creating something totally new
                    with just a computer. After learning the basics of programming, I experimented with various web
                    development technologies like Bootstrap, jQuery, and Flask. In the recent years, however, I have
                    become more interested in artificial intelligence and machine learning engineering as a career.
                </p>

                <p>In 2020, I completed my Associate in Science degree at the <a href="https://www.rccc.edu/"
                        rel="noopener" title=" Rowan-Cabarrus Community College" target="_blank"
                        data-no-ellipse-cursor>Rowan-Cabarrus
                        Community College</a>. I then transferred to the <a href="https://www.uncc.edu/" rel="noopener"
                        title=" University of North Carolina at Charlotte" target="_blank"
                        data-no-ellipse-cursor>University
                        of North Carolina at Charlotte</a> to complete a bachelor's degree in Computer Science with
                    the AI, Robotics, and Gaming concentration.</p>

                <p>Want to know the details? Read my <a routerLink="/resume" data-no-ellipse-cursor>resume.</a></p>
            </div>
        </div>
    </div>

    <footer class="footer-section">
        <div class="end-info inner-container">
            <p class="colum--one">Designed/Coded by Fausto German.</p>
            <p class="colum--two">&copy; 2020 &ndash; Fausto German</p>
        </div>
    </footer>
</div>