<section class="footer-cylinder">

    <div class="stacked" #stacked>
        <p>F</p>
        <p>F</p>
        <p>F</p>
        <p>F</p>
    </div>

    <div class="socials">
        <ul>
            <li><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/fausto-german/">LinkedIn</a></li>
            <li><a target="_blank" rel="noopener" href="https://github.com/faustotnc">Github</a></li>
            <li><a target="_blank" rel="noopener" href="https://codepen.io/faustotnc">CodePen</a></li>
            <li><a target="_blank" rel="noopener" href="https://www.behance.net/faustotnc">Behance</a></li>
            <li><a target="_blank" href="mailto:hello@faustogerman.com">Email</a></li>
        </ul>
        <p> &#xA9; 2020 &#x2014; Fausto German</p>
    </div>
</section>