@import "../../../helper.scss";


.footer-cylinder {
    // background: #f4f4f3;
    // background: color(black);
    height: 100vh;
    cursor: default;
    // background: red;
    @include flex(flex-end, column);
    position: relative;
    overflow: hidden;

    @media screen and (max-height: 400px) {
        height: 75vh;
        .stacked {
            display: none !important;
        }
    }

    .stacked {
        @include flex(center, row);
        align-items: center;
        transform-style: preserve-3d;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        p {
            @include fluid-type(240px, 540px, 300px, 1400px);
            display: block;
            position: absolute;
            // -webkit-text-stroke: 2px black;
            // color: #f4f4f3;
            -webkit-text-stroke: 2px color(black);
            color: var(--color-primary);
            @include no-select();
            // font-family: 'Gupter', serif;
        }

        /* One or more available input mechanism(s) can hover, 
        but not easily (e.g., many mobile devices emulate 
        hovering when the user performs a long tap) */
        @media (any-hover: on-demand) {
            // transform: translateY(60px) !important;
            p {
                transform: none !important
            }
        }

        /* One or more available input mechanism(s) cannot 
        hover (or there are no pointing input mechanisms) */
        @media (any-hover: none) {
            // transform: translateY(60px) !important;
            p {
                transform: none !important
            }
        }


        /* At least one input mechanism of the device 
        includes a pointing device of limited accuracy. */
        @media (any-pointer: coarse) {
            // transform: translateY(60px) !important;
            p {
                transform: none !important
            }
        }

        /* The device does not include any pointing device. */
        @media (any-pointer: none) {
            // transform: translateY(60px) !important;
            p {
                transform: none !important
            }
        }
    }

    .socials {
        padding-bottom: 40px;
        // background: red;
        // @include flex(center, column);
        ul {
            list-style: none;
            text-align: center;
            li {
                display: inline-block;
                font-size: 12px;
                margin: 0 4px;

                a {
                    color: inherit;
                    padding: 0 2px;
                    text-decoration: none;
                    color: color(black);
                }
            }
        }

        p {
            color: color(black);
            font-size: 13px;
            margin-top: 8px;
            text-align: center;
        }
    }
}