@import "../../../helper.scss";

main.contact-page-cylinder {
   // background: color(primary);

   // Makes the selection of the text in the
   // home page be appropriate for the theme of the website.
   * {
      @include customSelectColor(var(--color-txt-main), var(--color-bg-main));
   }

   @include flex(center, row);

   .content-wrapper {
      width: 90%;
      max-width: 1200px;
   }

   section.contact-hero-section {
      height: 50vh; /* Fallback for browsers that do not support Custom Properties */
      height: calc(var(--vh, 1vh) * 50);
      text-align: center;

      display: grid;
      grid-template-rows: 1fr 0.1fr;

      @media screen and (max-width: 650px) {
         height: 40vh; /* Fallback for browsers that do not support Custom Properties */
         height: calc(var(--vh, 1vh) * 40);
      }

      @media screen and (max-width: 340px) {
         margin-top: 48px;
      }

      div {
         grid-row-start: 2;

         h1 {
            color: var(--color-toolbar);
            letter-spacing: -4.5px;
            overflow: hidden;
            @include fluid-value(64px, 112px, 400px, 1920px, font-size); // fluid font size
            @media screen and (max-width: 950px) {
               line-height: 92px;
            }

            @media screen and (max-width: 624px) {
               line-height: 64px;
               letter-spacing: -1.5px;
               @include fluid-value(32px, 56px, 300px, 624px, font-size); // fluid font size
            }

            span {
               display: inline-block;
               // transform: translateY(110%);
            }
         }
      }
   }

   section.email {
      margin-top: 48px;
      text-align: center;

      @media screen and (max-width: 650px) {
         margin-top: 32px;
      }

      a {
         @include fluid-value(18px, 32px, 400px, 1920px, font-size); // fluid font size
         text-decoration: none;
         color: #b8bdb5;

         @include flex(center, row);
         display: inline-flex;
         align-items: center;

         p {
            display: inline-block;
            overflow: hidden;
            position: relative;
            span.email {
               display: inline-block;
               // transform: translateY(100%);
            }
            span.button--underline-effect {
               background: var(--color-toolbar);
            }
         }

         &:hover {
            div.arrow {
               transform: rotate(45deg);
            }
         }

         div.arrow {
            @include fluid-value(16px, 24px, 270px, 1920px, width);
            @include fluid-value(16px, 24px, 270px, 1920px, height);
            @include fluid-value(16px, 24px, 270px, 1920px, margin-left);
            display: inline-block;
            position: relative;
            bottom: -2px;
            transform: rotate(0);
            transition: 1s cubic-bezier(0.77, 0, 0.175, 1) transform;

            span {
               @include fluid-value(16px, 24px, 270px, 1920px, width);
               height: 2px;
               background: #b8bdb5;
               display: inline-block;
               position: absolute;
               top: 0;
               right: 0;

               &:nth-child(2) {
                  transform: rotate(-90deg);
                  transform-origin: right;
               }
               &:nth-child(3) {
                  transform: rotate(-45deg);
                  transform-origin: left;
                  top: unset;
                  right: unset;
                  bottom: 0;
                  left: 2px;
                  @include fluid-value(21px, 29px, 270px, 1920px, width);
               }
            }
         }
      }
   }

   section.message {
      margin-top: 20vh;
      margin-bottom: 10vh;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      color: #b8bdb5;

      @media screen and (max-width: 650px) {
         margin-top: 96px;
      }

      div.content {
         grid-column-start: 1;
         grid-column-end: 4;

         @media screen and (max-width: 850px) {
            grid-column-end: 6;
         }
         @media screen and (max-width: 500px) {
            grid-column-end: 8;
         }

         div.home-n-time {
            margin: 48px 0;
         }

         .networks {
            width: 100%;
            @include flex(flex-start, row);
            position: relative;
            left: -16px;
            margin-top: 64px;
            a {
               padding: 0 8px;
               margin: 0 8px;
               svg {
                  pointer-events: none;
                  width: 20px;
                  // fill: #1e1f1d;
                  fill: #b8bdb5;
                  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
               }
               &:hover {
                  svg {
                     opacity: 0.7;
                  }
               }
            }
         }
      }
   }
}
