:host {
    /**
     * One or more available input mechanism(s)
     * can hover over elements with ease
    **/
    @media (any-hover: hover) {
        pointer-events: all;
    }

    /**
     * One or more available input mechanism(s) can hover, 
     * but not easily (e.g., many mobile devices emulate 
     * hovering when the user performs a long tap)
    **/
    @media (any-hover: on-demand) {
        pointer-events: none;
    }

    /**
     * One or more available input mechanism(s) cannot 
     * hover (or there are no pointing input mechanisms)
    **/
    @media (any-hover: none) {
        pointer-events: none;
    }


    /**
     * At least one input mechanism of the device
     * includes a pointing device of limited accuracy.
    **/
    @media (any-pointer: coarse) {
        pointer-events: none;
    }

    /**
     * At least one input mechanism of the device
     * includes an accurate pointing device.
     **/
    @media (any-pointer: fine) {
        pointer-events: all;
    }

    /* The device does not include any pointing device. */
    @media (any-pointer: none) {
        pointer-events: none;
    }
}