<div class="main">
   <div class="super-wrapper">
      <h1>A detailed overview of my education, professional experience, and skills.</h1>
   </div>
</div>

<section class="education">
   <div class="section-wrapper">
      <div class="section-content">
         <h2 class="section-title">Education</h2>

         <div class="subsection">
            <h3 class="subsection-title">
               <b>The University of North Carolina at Charlotte, 2022 (Expected)</b>, Charlotte, NC <br> <i>Bachelor of
                  Science in Computer Science (GPA: 3.91 of 4.0)</i>
            </h3>

            <p><b>Degree Concentration</b>: Data Science</p>
            <p><b>Relevant Courses</b>: Data Structures and Algorithms, Data Mining, Logic and Algorithms, Natural
               Language
               Processing, Visual Analytics, Computer Vision, Cloud Computing for Data Analytics</p>
            <p><b>Honors</b>: Dean's List: Spring 2021; Chancellor's list: Fall 2020, Fall 2021, Spring 2022</p>
            <p><b>Programs</b>: Early Entry (Accelerated Master's) Student (Program GPA: 4.0 of 4.0)</p>
         </div>

         <div class="subsection">
            <h3 class="subsection-title">
               <b>Rowan-Cabarrus Community College, 2020</b>, Salisbury, NC<br> <i>Associate of Science in Computer
                  Science
                  (GPA: 3.58 of 4.0)</i>
            </h3>

            <p><b>Relevant Courses</b>: Intro to Prog & Logic, Java Programming, Calculus I, Calculus II, Linear Algebra
            </p>
            <p><b>Honors</b>: Graduated with honors in 2020</p>
         </div>
      </div>
   </div>
</section>


<section class="research-experience">
   <div class="section-wrapper">
      <div class="section-content">
         <h2 class="section-title">Research Experience</h2>

         <div class="subsection">
            <h3 class="subsection-title">
               <b>OUR Research Scholar</b> – <i>The University of North Carolina at Charlotte</i>, Charlotte, NC
            </h3>

            <p class="date">JANUARY 2022 - APRIL 2022</p>

            <ul>
               <li>Researched different machine learning methods and techniques using PyCarent and Scikit-Learn to
                  develop
                  a predictive model for aflatoxin insurance claims in the U.S. based on temperature data</li>
               <li>Developed an abstract and poster presentation to summarize the results of the research</li>
            </ul>
         </div>

         <div class="subsection">
            <h3 class="subsection-title">
               <b>Undergraduate Research Assistant</b> – <i>The University of North Carolina at Charlotte</i>,
               Charlotte,
               NC
            </h3>

            <p class="date">AUGUST 2021 - DECEMBER 2021</p>

            <ul>
               <li>Developed the different parts of a web application that will serve as the primary platform for
                  collecting crop-field data from farmers to train machine learning models, using Vue.js as the
                  development
                  framework</li>
               <li>Programmed a connection between the platform's front-end and back-end for user authentication and to
                  display dynamic content, using Axios.js to communicate with RESTful APIs</li>
            </ul>
         </div>
      </div>
   </div>
</section>

<!-- <section class="professional-experience">
   <div class="section-wrapper">
      <div class="section-content">
         <h2 class="section-title">Professional Experience</h2>

         <div class="subsection">
            <h3 class="subsection-title">
               <b>Global Technology Summer Analyst</b> – <i>Bank of America</i>, Charlotte, NC
            </h3>

            <p class="date">JUNE 2022 - AUGUST 2022</p>

            <ul>
               <li>Developed the different parts of a web application that will serve as the primary platform for
                  collecting crop-field data from farmers to train machine learning models, using Vue.js as the</li>
               <li>Programmed a connection between the platform's front-end and back-end for user authentication and to
                  display dynamic content, using Axios.js to communicate with RESTful APIs</li>
               <li>Programmed a connection between the platform's front-end and back-end for user authentication and to
                  display dynamic content, using Axios.js to communicate with RESTful APIs</li>
            </ul>
         </div>
      </div>
   </div>
</section> -->

<section class="personal-projects">
   <div class="section-wrapper">
      <div class="section-content">
         <h2 class="section-title">Personal Projects</h2>

         <div class="subsection">
            <h3 class="subsection-title">
               <b>U.S. Currency Recognition (2022)</b> – <i>A Computer Vision Project</i>
            </h3>
            <p>Executed a full computer vision project, from data collection and labeling to model selection and
               training,
               resulting in an object detection system that could identify U.S. currency in images and live video.</p>
            <a
               href="https://github.com/faustotnc/us-currency-recognition">https://github.com/faustotnc/us-currency-recognition</a>
         </div>

         <div class="subsection">
            <h3 class="subsection-title">
               <b>Ranker (Beta, 2022)</b> – <i>A PageRank Visualization Tool</i>
            </h3>
            <p>Designed and developed a tool that could be used by students and practitioners alike to better understand
               the PageRank algorithm, using web development technologies like React, Redux, and Cytoscape-Js.</p>
            <a href="https://ranker.faustogerman.com">https://ranker.faustogerman.com</a>
         </div>

         <div class="subsection">
            <h3 class="subsection-title">
               <b>Hinton (Alpha, 2021)</b> – <i>An Interpreted Programming Language</i>
            </h3>
            <p>Engineered and implemented a multipass compiler and a stack-based virtual machine for an interpreted
               programming language called Hinton, using Rust as the implementation language.</p>
            <a href="https://github.com/hinton-lang/Hinton">https://github.com/hinton-lang/Hinton</a>
         </div>

         <div class="subsection">
            <h3 class="subsection-title">
               <b>Personal Website (2020)</b> – <i>A Portfolio Website</i>
            </h3>
            <p>Designed and developed the 8th iteration of an “about me” website using advanced web development
               technologies like Angular 2+, Typescript, and Three.js to showcase web development skills.</p>
            <a href="https://github.com/faustotnc/portfolio_website">https://github.com/faustotnc/portfolio_website</a>
         </div>
      </div>
   </div>
</section>

<section class="poster-presentations">
   <div class="section-wrapper">
      <div class="section-content">
         <h2 class="section-title">Poster Presentations</h2>

         <div class="subsection">
            <p><b>In Search of a Predictive Model for Aflatoxin Insurance Claims Based on Temperature Data.</b> April
               21,
               2022. <br />Undergraduate Research Conference at the University of North Carolina at Charlotte,
               Charlotte,
               NC.</p>
         </div>
      </div>
   </div>
</section>

<section class="honors-and-awards">
   <div class="section-wrapper">
      <div class="section-content">
         <h2 class="section-title">Poster Presentations</h2>

         <div class="subsection">
            <h3 class="subsection-title">
               <b>Undergraduate Research Conference Award (2022)</b> – <i>The University of North Carolina at
                  Charlotte</i>
            </h3>
            <p>Recipient of the Math and Computer Science Poster Presentation Award at UNC Charlotte's Undergraduate
               Research Conference</p>
         </div>

         <div class="subsection">
            <h3 class="subsection-title">
               <b>SPARC Scholarship (2019)</b> – <i>Rowan-Cabarrus Community College</i>
            </h3>
            <p>Recipient of the SPARC scholarship from the Rowan-Cabarrus Community College starting in the fall
               semester
               of 2019 until the spring semester of 2020</p>
         </div>

         <div class="subsection">
            <h3 class="subsection-title">
               <b>National Society of Leadership and Success (2019)</b> – <i>Rowan-Cabarrus Community College</i>
            </h3>
            <p>Inducted member of the Sigma Alpha Pi chapter since 2019</p>
         </div>

         <div class="subsection">
            <h3 class="subsection-title">
               <b>Phi Theta Kappa Honor Society (2018)</b> – <i>Rowan-Cabarrus Community College</i>
            </h3>
            <p>Inducted member of the Beta Tau Theta chapter since 2018</p>
         </div>
      </div>
   </div>
</section>

<section class="technical-skills">
   <div class="section-wrapper">
      <div class="section-content">
         <h2 class="section-title">Technical Skills</h2>

         <div class="subsection">
            <ul>
               <li><b>General Programming</b>: Python, TypeScript, JavaScript, Java, Rust</li>
               <li><b>Data Science</b>: Pandas, Numpy, Scikit-Learn, Altair, TensorFlow, SQL</li>
               <li><b>Web Development</b>: React, Angular 2+, Vue.js, Axios, Threejs</li>
               <li><b>Compiler Theory (Beginner)</b>: Stack VMs, LL(1) Parsers, Bytecode Compilers, ASTs</li>
            </ul>
         </div>
      </div>
   </div>
</section>


<fausto-footer></fausto-footer>
