@import "../../../styles.scss";
@import "../../../helper.scss";

div.wrapper {
   width: 100%;
   height: 100vh;
   height: calc(var(--vh, 1vh) * 100);
   position: fixed;
   top: 0;
   left: 0;
   z-index: 101;
   background: var(--color-primary-main);
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translateY(-101%);
   transition: background easing("standard") 1s;

   div.content {
      overflow: hidden;

      p {
         @include typography-variant-h2();
         @include fontFamily(secondary);
         font-weight: 600;
         transform: translateY(-103%);
         color: var(--color-primary-txt-contrast);
         transition: color easing("standard") 1s;

         @media screen and (max-width: 800px) {
            @include typography-variant-h4();
            font-weight: 600;
         }
      }
   }
}
