<section class="home-cylinder page-section">
    <div class="home-wrapper" #homeWrapper>
        <p>
            <span>Hi there!</span> I'm a <span>creative programmer</span> pursuing a degree in <span>computer
                science</span> with an specialization in <span>artificial intelligence</span>. I am an intrinsic nerd
            with an interest for <span>anything sci-fi</span>, and a strong believer of <span>form with function.</span>
        </p>


        <!-- <p>
            <span class="line"><span>Hi there!</span> I'm a <span>creative</span> </span>
            <span class="line"><span>programmer </span>pursuing a</span>
            <span class="line">degree in <span>computer science</span></span>
            <span class="line">with an specialization in</span>
            <span class="line"><span>artificial intelligence</span>. I am an</span>
            <span class="line">intrinsic nerd with an interest</span>
            <span class="line">for <span>anything sci-fi</span>, and a</span>
            <span class="line">strong believer of <span>form with</span> </span>
            <span class="line"><span>function.</span> </span>
        </p> -->
    </div>
</section>