@import "../../../helper.scss";

@keyframes blink {
    0% { color: transparent; }
    50% { color: #000; }
    100% { color: transparent; }
}


div.home-cylinder {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;

    fausto-home-scene {
        display: block;
        // opacity: 0.5;
    }

    div.home-container {
        width: 100%;
        height: 100%;
        @include flex(center, row);
        align-items: center;
        // padding-top: 20vh;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        pointer-events: none;

        .wrapper {
            width: 90%;
            max-width: 1400px;
            margin-top: 112px;
            
    
            p {
                @include fluid-value(24px, 80px, 300px, 1400px, font-size);
                @include fluid-value(-1.6px, -4px, 400px, 1400px, letter-spacing);
                font-weight: 550;
                word-spacing: 0.5rem;
                color: #f7f7f7;
                font-weight: 450;

                &.learn-more {
                    @include fluid-value(64px, 96px, 300px, 1400px, margin-top);
                    @include fluid-value(20px, 46px, 300px, 1400px, font-size);
                    @include fluid-value(-0.65px, -2px, 400px, 1400px, letter-spacing);
                    word-spacing: 0.15rem;
                    a {
                        color: #b8bdb5;
                        text-decoration: none;
                        pointer-events: all;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
    
        }
    }

}