

canvas {
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    pointer-events: none;

    background: transparent;

    visibility: visible;

    // background: rgba(#ff0000, 0.5);

    /**
     * One or more available input mechanism(s)
     * can hover over elements with ease
    **/
    @media (any-hover: hover) {
        visibility: visible;
    }

    /**
     * One or more available input mechanism(s) can hover, 
     * but not easily (e.g., many mobile devices emulate 
     * hovering when the user performs a long tap)
    **/
    @media (any-hover: on-demand) {
        visibility: hidden;
    }

    /**
     * One or more available input mechanism(s) cannot 
     * hover (or there are no pointing input mechanisms)
    **/
    @media (any-hover: none) {
        visibility: hidden;
    }


    /**
     * At least one input mechanism of the device
     * includes a pointing device of limited accuracy.
    **/
    @media (any-pointer: coarse) {
        visibility: hidden;
    }

    /**
     * At least one input mechanism of the device
     * includes an accurate pointing device.
     **/
    @media (any-pointer: fine) {
        visibility: visible;
    }

    /* The device does not include any pointing device. */
    @media (any-pointer: none) {
        visibility: hidden;
    }
}
