<div class="main">
   <div class="super-wrapper">
      <h1>What once started as a niche curiosity has now become my full-time passion.</h1>
   </div>
</div>

<div class="story">
   <div class="super-wrapper">
      <div class="left">
         <h2>About Me</h2>

         <p class="p1">Hi, my name is Fausto German Jimenez, and I'm a computer science student pursuing a career in data
            science.</p>

         <p class="p2">I was born in the year 2000, in San Cristobal, Dominican Republic. From an early age I have had a
            great
            inclination towards the world of technology, science, and everything that allowed me to uncover new ideas.
            My
            interest for programming started at the age of thirteen when I wanted to create a blog of my own. I quickly
            learned about HTML, CSS, and JavaScript, then a couple of months later I had created my first website ever.
         </p>

         <img src="/assets/p1.jpg" alt="" srcset="" class="i1" />
      </div>

      <div class="right">
         <img src="/assets/p2.jpg" alt="" srcset="" class="i2" />

         <p class="p3">Since I started programming, I became fascinated with the idea of creating something totally new
            with just a
            computer. After learning the basics of programming, I experimented with various web development technologies
            like Bootstrap, jQuery, and Flask. In the recent years, however, I have become more interested in data
            science
            and machine learning engineering as a career.</p>

         <p class="p4">I moved to the United States at the age of fifteen with the intention of obtaining a better
            education. Five
            years later, in 2020, I completed an Associate in Science degree at the Rowan-Cabarrus Community College. I
            then transferred to the University of North Carolina at Charlotte to complete a Bachelor of Science in
            Computer
            Science degree with a concentration in Data Science.</p>
      </div>
   </div>
</div>

<fausto-footer></fausto-footer>
