

.page-superwrapper {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    .scrolling-view {
        width: 100%;
        position: absolute;
        overflow: hidden;
        z-index: 1;
        transform-style: preserve-3d;
    }
}