<div class="home-page">
   <div class="scene-wrapper">
      <div class="scene-container" #SCENE_CONTAINER></div>
   </div>

   <div class="super-wrapper">
      <div class="headline">
         <h1 class="name variant-h1">Fausto German Jimenez</h1>
         <h3 class="variant-h3">
            Computer Science & Data Science Student at the University of North Carolina at Charlotte
         </h3>
      </div>

      <div class="quick-facts">
         <div class="fact">
            <p class="variant-h5">Primary Interests</p>
            <p class="variant-h5">Graph Neural Networks</p>
            <p class="variant-h5">Compiler Theory</p>
         </div>
         <div class="fact">
            <p class="variant-h5">Honors & Awards</p>
            <p class="variant-h5">URC Award &mdash; UNC Charlotte</p>
            <p class="variant-h5">SPARC Scholarship &mdash; RCCC</p>
         </div>
         <div class="fact">
            <p class="variant-h5">All the Details</p>
            <p class="variant-h5">
               <a routerLink="/about">About Me</a><br>
               <a href="./assets/cv.pdf" target="_blank" rel="noopener">
                  Download CV
               </a>
            </p>
         </div>
      </div>
   </div>
</div>
