<header class="toolbar-cylinder">

    <div class="toolbar-container" #toolbar
        [ngClass]="{ 'isScrolling': (currentScrollPos > 1), 'mobileMenuOpen': isMenuActive} ">
        <div class="wrapper">
            <h1 class="title" data-no-ellipse-cursor><a routerLink="/">fausto german</a></h1>

            <div class="right">
                <nav data-no-ellipse-cursor>
                    <a routerLink="/about">ABOUT</a>
                    <a routerLink="/resume">RESUME</a>
                    <a routerLink="/contact">CONTACT</a>
                </nav>

                <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle Menu" role="button">
                    <div class="menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <span class="menu-label">
                        <p *ngIf="this.isMenuActive; else isMenuActiveElseMenuButton">Close</p>
                        <ng-template #isMenuActiveElseMenuButton>
                            <p>Menu</p>
                        </ng-template>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class="mobile-menu" [ngClass]="{ 'mobileMenuOpen': isMenuActive} ">
        <nav data-no-ellipse-cursor>
            <a routerLink="/" (click)="toggleMenu()">HOME</a>
            <a routerLink="/about" (click)="toggleMenu()">ABOUT</a>
            <a routerLink="/resume" (click)="toggleMenu()">RESUME</a>
            <a routerLink="/contact" (click)="toggleMenu()">CONTACT</a>
        </nav>
    </div>
</header>