@import "../../../helper.scss";

header.toolbar-cylinder {
    width: 100%;
    
    .toolbar-container {
        width: 100%;
        height: 64px;
        @include flex(center, row);
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        pointer-events: none;
        transform: translateY(64px);
        transition: .3s easing('standard') background; // Needed for hover effect

        &.isScrolling {
            background: var(--color-primary);
        }

        @media screen and (max-width: 650px) {
            transform: translateY(32px);
        }

        .wrapper {
            width: 90%;
            max-width: 1400px;
            @include flex(space-between, row);
            align-items: center;

            h1 {
                font-size: 24px;
                pointer-events: all;
                color: #f7f7f7;
                color: var(--color-toolbar) !important;
                a {
                    display: block;
                    color: #f7f7f7;
                    color: var(--color-toolbar) !important;
                    text-decoration: none;
                    transition: .3s easing('standard') color; // Needed for hover effect
                }
            }

            nav {
                @media screen and (max-width: 650px) {
                    display: none;
                }
                a {
                    font-size: 16px;
                    font-weight: 700;
                    color: var(--color-toolbar);
                    text-decoration: none;
                    padding: 0 6px;
                    margin: 0 12px;
                    pointer-events: all;
                }
            }

            button.menu-toggle {
                align-items: center;
                pointer-events: all;
                cursor: pointer;
                background: transparent;
                border: none;
                color: var(--color-toolbar);
                font-size: 14px;
                position: relative;

                display: none;

                @media screen and (max-width: 650px) {
                    @include flex(flex-start, row);
                }
    
                &:hover {
                    .menu-icon {
                        height: 12px;
                    }
                }

                .menu-icon {
                    width: 24px;
                    height: 15px;
                    @include flex(space-between, column);
                    margin-right: 16px;
                    transition: .3s easing('standard') all; // Needed for hover effect
                    @media screen and (max-width: 380px) {
                        margin-right: 0;
                    }
                    span {
                        width: 100%;
                        height: 2px;
                        background: var(--color-toolbar);
                        transition: .3s easing('standard') all;
                    }
                }
                .menu-label {
                    font-weight: 500;
                    transition: .3s easing('standard') color;
                    @media screen and (max-width: 380px) {
                        display: none;
                    }
                }
            }
        }

        &.mobileMenuOpen {
            // transform: translate(0);
            @media screen and (max-width: 650px) {
                // background: var(--color-toolbar);
                .wrapper {
                    // h1 a {
                    //     color: var(--color-primary);
                    // }

                    button.menu-toggle {
                        // color: var(--color-primary);
                        .menu-icon {
                            height: 16px !important;
                            span {
                                // background: var(--color-primary);
                                &:first-of-type {
                                    transform: rotate(38deg);
                                    transform-origin: left;
                                }
                                &:nth-child(2) { opacity: 0; };
                                &:last-of-type {
                                    transform: rotate(-38deg);
                                    transform-origin: left;
                                }
                            }
                        }
                    }
                }
            }
        }


    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        @include flex(center, column);
        align-items: center;
        background: var(--color-primary);
        transition: .3s easing('standard') all; // Needed for hover effect
        z-index: 998;

        opacity: 0;
        pointer-events: none;

        @media screen and (min-width: 651px) {
            display: none;
        }

        &.mobileMenuOpen {
            opacity: 1;
            pointer-events: all;
        }

        nav {
            width: 85%;
            margin-top: 64px;
            a {
                display: block;
                font-size: 32px;
                margin-bottom: 48px;
                &:last-of-type { margin-bottom: 0; }
                // text-align: center;
                text-decoration: none;
                color: var(--color-toolbar);
                font-weight: 600;
            }
        }
    }
}