/* You can add global styles to this file, and also import other style files */
@import './helper.scss';

:root {
    // These values are updated in the
    // app.component.ts based on the route.
    --color-primary: #813f18;
    --color-toolbar: #f0e6c3;
}


// Inter Variable Font --> https://rsms.me/inter/
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

// @font-face {
//     font-family: messapia-sans;
//     font-weight: bold;
//     src: url("/assets/mess/Messapia-Bold.otf") ;
// }
// @font-face {
//     font-family: messapia-serif;
//     font-weight: bold;
//     src: url("/assets/mess/Messapia-Regular.otf") ;
// }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    cursor: none;

    // &.alt-font {
    //     font-family: 'messapia-sans', sans-serif;
    // }
    // &.alt-font-serif {
    //     font-family: 'messapia-serif', serif;
    // }
}

body, html {
    // background: #f7f3f0;
    background: var(--color-primary);
    -webkit-font-smoothing: antialiased;
    cursor: none;
}