<div class="resume-cylinder">
    <div class="resume-wrapper">
        <h1>The Details (Resume)</h1>

        <div class="resume">

            <section class="education">
                <h2>Education</h2>
                <ul>
                    <li>
                        <h3>University of North Carolina at Charlotte – Charlotte, NC</h3>
                        <p class="dates">AUGUST 2020 - (Expected) DECEMBER 2022</p>
                        <p class="summary">Bachelor of Science in Computer Science with a concentration in
                            Data Science</p>
                        <p><b>GPA:</b> 3.83 out of 4.0</p>
                    </li>
                    <li>
                        <h3>Rowan-Cabarrus Community College – Salisbury, NC</h3>
                        <p class="dates">JANUARY 2018 - MAY 2020</p>
                        <p class="summary">Associate of Science in Computer Science from the Rowan-Cabarrus Community
                            College</p>
                        <p><b>GPA:</b> 3.62 out of 4.0</p>
                    </li>
                </ul>
            </section>

            <section class="work-experience">
                <h2>Work Experience</h2>
                <p class="summary">Although I have no relevant work experience in computer science, I am currently
                    accepting summer internships. <a routerLink="/contact" data-no-ellipse-cursor>Contact me!</a></p>
            </section>

            <section class="projects">
                <h2>Projects</h2>
                <ul>
                    <li>
                        <h3>Hinton</h3>
                        <p class="subject">A Programming Language Implementation</p>
                        <p class="dates">SEPTEMBER 2020 - ONGOING</p>
                        <p class="summary">Engineered and implemented a multi-pass compiler and a stack-based virtual
                            machine for an interpreted programming language called Hinton, using Rust as the
                            implementation language. <a href="https://github.com/hinton-lang" rel="noopener"
                                target="_blank" data-no-ellipse-cursor>https://github.com/hinton-lang</a>
                        </p>
                    </li>
                    <li>
                        <h3>Personal Website</h3>
                        <p class="subject">"About Me" Website</p>
                        <p class="dates">JANUARY 2018 - ONGOING</p>
                        <p class="summary">Designed and developed the 7th iteration of an “about me” website using
                            advanced web development technologies like Angular 2+, Typescript, and Three.js to showcase
                            web development skills. <a href="https://github.com/faustotnc/portfolio_website"
                                rel="noopener" target="_blank"
                                data-no-ellipse-cursor>https://github.com/faustotnc/portfolio_website</a>
                        </p>
                    </li>
                </ul>
            </section>

            <section class="technical-skills">
                <h2>Technical Skills</h2>
                <ul>
                    <li>
                        <h3>General Programming</h3>
                        <p>Javascript, Typescript, Java, Python, Rust</p>
                    </li>
                    <li>
                        <h3>Front-end web development</h3>
                        <p>
                            HTML/CSS/SCSS, Angular 2+, Canvas2D & SVG, Three.js (Intermediate)
                        </p>
                    </li>
                    <li>
                        <h3>Machine Learning (Beginner)</h3>
                        <p> Tensorflow & Keras, PyTorch, Pandas
                        </p>
                    </li>
                    <li>
                        <h3>Programming Language Design (Beginner)</h3>
                        <p>Stack VMs, LL(1) Parsers, Bytecode Compilers, ASTs</p>
                    </li>
                </ul>
            </section>

            <section class="awards">
                <h2>Awards</h2>
                <ul>
                    <li>
                        <h3>SPARC Scholarship</h3>
                        <p class="dates">2019 - 2020</p>
                        <p class="summary">Recipient of the SPARC scholarship from the Rowan-Cabarrus Community College starting in the
                            fall semester of 2019 until the spring semester of 2020</p>
                    </li>
                    <li>
                        <h3>National Society of Leadership and Success</h3>
                        <p class="dates">2019 - ONGOING</p>
                        <p class="summary">Inducted member of the Sigma Alpha Pi chapter at the Rowan-Cabarrus Community
                            College since 2019</p>
                    </li>
                    <li>
                        <h3>Phi Theta Kappa Honor Society</h3>
                        <p class="dates">2018 - 2020</p>
                        <p class="summary">Inducted member of the Beta Tau Theta chapter at the Rowan-Cabarrus Community
                            College from 2018 to 2020</p>
                    </li>
                </ul>
            </section>

            <section class="courses">
                <h2>Relevant College Courses</h2>
                <ul>
                    <li>
                        <ul>
                            <li>Intro. to Programming & Logic (2019, A)</li>
                            <li>Java Programming (2019, A)</li>
                            <li>Data Structures & Algorithms (2020, A)</li>
                            <li>Intro. to Natural Language Processing (2020, A)</li>
                            <li>Logic & Algorithms (2020, A)</li>
                        </ul>
                    </li>
                </ul>
            </section>
        </div>

        <div class="cta">
            <p>
                Convinced? <a routerLink="/contact" data-no-ellipse-cursor>Let's get in touch!</a>,
                or visit my <a href="https://linkedin.com/in/fgerman" target="_blank" rel="noopener"
                    data-no-ellipse-cursor>LinkedIn profile.</a>
            </p>
        </div>

        <footer class="footer-section">
            <div class="end-info inner-container">
                <p class="colum--one">Designed/Coded by Fausto German.</p>
                <p class="colum--two">&copy; 2020 &ndash; Fausto German</p>
            </div>
        </footer>
    </div>
</div>
