<div class="resume-cylinder">
    <div class="resume-wrapper">
        <h1>The Details (Resume)</h1>

        <div class="resume">

            <section class="education">
                <h2>Education</h2>
                <ul>
                    <li>
                        <h3>University of North Carolina at Charlotte</h3>
                        <p class="subject">Bachelor of Science in Computer Science (GPA: 4.0)</p>
                        <p class="dates">AUGUST 2020 - (Expected) DECEMBER 2022</p>
                        <p class="summary">Bachelor of Science in Computer Science with a concentration in
                            Data Science & Machine Learning Engineering</p>
                    </li>
                    <li>
                        <h3>Rowan-Cabarrus Community College</h3>
                        <p class="subject">Associate in Science (GPA: 3.62)</p>
                        <p class="dates">JANUARY 2018 - MAY 2020</p>
                        <p class="summary">Associate of Science in Computer Science from the Rowan-Cabarrus Community College</p>
                    </li>
                </ul>
            </section>

            <section class="work-experience">
                <h2>Work Experience</h2>
                <p class="summary">Although I have no relevant work experience in computer science, I am currently
                    accepting summer internships. <a routerLink="/contact" data-no-ellipse-cursor>Contact me!</a></p>
            </section>

            <section class="projects">
                <h2>Projects</h2>
                <ul>
                    <li>
                        <h3>Hinton</h3>
                        <p class="subject">An Interpreted Programming Language</p>
                        <p class="dates">SEPTEMBER 2020 - ONGOING</p>
                        <p class="summary">Engineered and implemented an interpreter written in Java for a
                            functional programming language called Hinton. <a href="https://github.com/hinton-lang"
                                rel="noopener" target="_blank" data-no-ellipse-cursor>https://github.com/hinton-lang</a>
                        </p>
                    </li>
                    <!-- <li>
                        <h3>Rhino</h3>
                        <p class="subject">Deno Server Framework</p>
                        <p class="dates">MAY 2020 - DEC 2020</p>
                        <p class="summary">Coordinated, planned, and engineered a framework written in TypeScript for
                            creating Deno servers. <a href="https://rhino.faustogerman.com" rel="noopener"
                                target="_blank" data-no-ellipse-cursor>https://rhino.faustogerman.com</a></p>
                    </li> -->
                    <li>
                        <h3>Personal Website</h3>
                        <p class="subject">"About Me" Website</p>
                        <p class="dates">JANUARY 2018 - ONGOING</p>
                        <p class="summary">Designed and developed the (currently) 7th iteration of an “about me” website
                            using advanced web development technologies like Angular and Typescript to showcase core
                            skills. <a href="https://github.com/faustotnc/portfolio_website" rel="noopener"
                                target="_blank"
                                data-no-ellipse-cursor>https://github.com/faustotnc/portfolio_website</a>
                        </p>
                    </li>
                </ul>
            </section>

            <section class="technical-skills">
                <h2>Technical Skills</h2>
                <ul>
                    <li>
                        <h3>Front-end web development</h3>
                        <ul>
                            <li>HTML/CSS/SCSS</li>
                            <li>Angular 2+</li>
                            <!-- <li>jQuery</li> -->
                            <li>Canvas2D & SVG</li>
                            <li>Three.js (Intermediate)</li>
                        </ul>
                    </li>
                    <li>
                        <h3>General Programming</h3>
                        <ul>
                            <li>JavaScript/TypeScript</li>
                            <li>Java</li>
                            <li>Python</li>
                            <li>Node.js/Deno</li>
                        </ul>
                    </li>
                    <li>
                        <h3>College Courses</h3>
                        <ul>
                            <li>Intro. to Programming & Logic (2019, A)</li>
                            <li>Java Programming (2019, A)</li>
                            <li>Data Structures & Algorithms (2020, A)</li>
                            <li>Intro. to Natural Language Processing (2020, A)</li>
                            <li>Logic & Algorithms (2020, A)</li>
                        </ul>
                    </li>
                    <li>
                        <h3>Machine Learning</h3>
                        <ul>
                            <li>Tensorflow & Keras (Intermediate)</li>
                            <li>PyTorch (Intermediate)</li>
                            <li>Pandas (Intermediate)</li>
                        </ul>
                    </li>

                </ul>
            </section>

            <section class="awards">
                <h2>Awards</h2>
                <ul>
                    <li>
                        <h3>Honors Graduate in Associate of Science</h3>
                        <p class="summary">Community college honor graduate with a GPA of 3.62</p>
                    </li>
                    <li>
                        <h3>SPARC Scholarship</h3>
                        <p class="dates">2019 - 2020</p>
                        <p class="summary">Recipient of the SPARC scholarship from community college starting in the
                            fall semester of 2019 until the spring semester of 2020</p>
                    </li>
                    <li>
                        <h3>National Society of Leadership and Success</h3>
                        <p class="dates">2019 - ONGOING</p>
                        <p class="summary">Inducted member of the Sigma Alpha Pi chapter since 2019</p>
                    </li>
                    <li>
                        <h3>Phi Theta Kappa Honor Society</h3>
                        <p class="dates">2018 - 2020</p>
                        <p class="summary">Inducted member of the Beta Tau Theta chapter from 2018 to 2020</p>
                    </li>
                </ul>
            </section>

            <!-- <section class="misc">
                <h2>Misc. Skills</h2>
                <ul class="standalone">
                    <li>Raspberry Pi</li>
                    <li>Visual Studio Code</li>
                    <li>Cooking Eggs</li>
                    <li>Singing in the Shower</li>
                </ul>
            </section> -->
        </div>

        <div class="cta">
            <p>
                Convinced? <a routerLink="/contact" data-no-ellipse-cursor>Let's get in touch!</a>,
                or visit my <a href="https://linkedin.com/in/fgerman" target="_blank" rel="noopener"
                    data-no-ellipse-cursor>LinkedIn profile.</a>
            </p>
        </div>

        <footer class="footer-section">
            <div class="end-info inner-container">
                <p class="colum--one">Designed/Coded by Fausto German.</p>
                <p class="colum--two">&copy; 2020 &ndash; Fausto German</p>
            </div>
        </footer>
    </div>
</div>